@model User

<ul class="list-group list-group-flush">
    <li class="list-group-item"><h5>Name: </h5> @Model.Name</li>
    <li class="list-group-item"><h5>Email: </h5> @Model.Email</li>
    <li class="list-group-item"><h5>Password: </h5> @Model.Password</li>
</ul>