@model PostSettingModel


<div class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Add Post Setting</h5>
                </div>
                <div class="card-body">
                    <form asp-action="AddPostSetting" asp-controller="Post" asp-antiforgery="true">
                        <div class="validation" asp-validation-summary="ModelOnly"></div>
                        <div>
                            <div class="form-group">
                                <label asp-for="GroupUrl">Введите GroupUrl</label>
                                <input type="text" asp-for="GroupUrl" />
                                <span asp-validation-for="GroupUrl" ></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PostCount">Введите PostCount</label>
                                <input type="text" asp-for="PostCount" />
                                <span asp-validation-for="PostCount" ></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PostFilter">Введите PostFilter</label>
                                <input type="text" asp-for="PostFilter" />
                                <span asp-validation-for="PostFilter" ></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PostItemComment">Введите количество комментариев</label>
                                <input type="text" asp-for="PostItemComment" />
                                <span asp-validation-for="PostItemComment" ></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PostItemLike">Введите количество лайков</label>
                                <input type="text" asp-for="PostItemLike" />
                                <span asp-validation-for="PostItemLike" ></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PostItemRepost">Введите количество репостов</label>
                                <input type="text" asp-for="PostItemRepost" />
                                <span asp-validation-for="PostItemRepost" ></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PostItemView">Введите количество просмотров</label>
                                <input type="text" asp-for="PostItemView" />
                                <span asp-validation-for="PostItemView" ></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Add" class="btn btn-outline-dark" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>