@model PostSetting


<div class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Edit Post Setting</h5>
                </div>
                <div class="card-body">
                    <form asp-action="EditPostSetting" asp-controller="Post" asp-antiforgery="true">
                        <div class="validation" asp-validation-summary="ModelOnly"></div>
                        <div>
                            <div class="form-group">
                                <input type="hidden" asp-for="PostSettingId" />
                            </div>
                            <div class="form-group">
                                <label asp-for="GroupUrl">Введите GroupUrl</label>
                                <input type="text" asp-for="GroupUrl" />
                                <span asp-validation-for="GroupUrl" ></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PostCount">Введите PostCount</label>
                                <input type="text" asp-for="PostCount" />
                                <span asp-validation-for="PostCount" ></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PostFilter">Введите PostFilter</label>
                                <input type="text" asp-for="PostFilter" />
                                <span asp-validation-for="PostFilter" ></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PostDeley">Введите время задержки</label>
                                <input type="text" asp-for="PostDeley" />
                                <span asp-validation-for="PostDeley" ></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Edit" class="btn btn-outline-dark" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>